<html>
    <head>
        <title>Coisas que aconteceram que talvez você não saiba!!!</title>
    </head>
    
    <body>    

        <div>
            <h1><a href="/">Coisas que aconteceram que talvez você não saiba!!!</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}

    </body>

</html>
